<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../../vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../vendor/icomoon/icomoon.css">
    <link rel="stylesheet" href="../../vendor/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../css/bundle.css">
  </head>
  <body>
    <div class="container-fluid sidebar__login bg__gradient" id="app">
      <div class="container position-relative container__group d-flex flex-center singup">
        <div class="row">
          <div class="slider__controlers d-flex justify-content-between">
            <span class="indice" v-bind:style="{width : styleObject.width + 'px'}"></span>
            <span class="items"></span>
            <span class="items"></span>
            <span class="items"></span>
            <span class="items"></span>
            <span class="items"></span>
            <span class="items"></span>
          </div>
          <div class="col-12 col-md-12  py-4" v-show="step === 1">
            <div class="form-file form-file--upload d-flex flex-center">
              <label for="file-upload" class="d-flex align-items-center justify-content-center flex-column label">
                <span class="icon-sailor project-icon__upload text__white text__icon-sm pb-05"></span>
                <p class="text__crimson text__white text__lg text__light text__center text__ls-1">
                  Upload Your Profile <br> Picture
                </p>
              </label>
              <input id="" type="file" class="d-none"/>
            </div>
            <p class="text__crimson text__white  text__center"></p>
          </div>
          <div class="col-12 col-md-12  py-4" v-show="step === 2">
            <input type="text" name="" value="" placeholder="Name" class="input__login--singup">
          </div>
          <div class="col-12 col-md-12  py-4" v-show="step === 3">
            <input type="email" name="" value="" placeholder="E-mail" class="input__login--singup">
          </div>
          <div class="col-12 col-md-12  py-4" v-show="step === 4">
            <input type="password" name="" value="" placeholder="Password" class="input__login--singup">
          </div>
          <div class="col-12 col-md-12  py-4" v-show="step === 5">
            <input type="password" name="" value="" placeholder="Confirm Password" class="input__login--singup">
          </div>
          <div class="col-12 col-md-12  py-4" v-show="step === 6">
            <input type="text" name="" value="" placeholder="Location" class="input__login--singup">
          </div>

          <div class="footlinks text__center">
            <div class="row slider__nav">
              <div class="col-6 justify-content-end d-flex">
                <button type="button" name="prev" class="btn" @click.prevent="prev();" v-if="step>=2">PREV</button>
              </div>
              <div class="col-6 divi justify-content-start d-flex">
                <button type="button" name="next" class="btn"  @click.prevent="next();" v-if="step<=5">Next</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script type="text/javascript">
    window.onload=function(){
      const app = new Vue({
        el:'#app',
        data() {
          return {
            step:1,
            styleObject:{
              width : 10,
            }
          }
        },
        methods:{
          next() {
            this.step++;
            this.styleObject.width = this.styleObject.width + 30;
          },
          prev() {
            this.step--;
            this.styleObject.width = this.styleObject.width - 30;
          }
        }
      });
    }

    </script>
  </body>
</html>
