@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yhvdxd');
  src:  url('fonts/icomoon.eot?yhvdxd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yhvdxd') format('truetype'),
    url('fonts/icomoon.woff?yhvdxd') format('woff'),
    url('fonts/icomoon.svg?yhvdxd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e900";
}
.icon-watch:before {
  content: "\e901";
}
.icon-pin:before {
  content: "\e902";
}
.icon-sea-fin:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-float:before {
  content: "\e906";
}
.icon-fin:before {
  content: "\e907";
}
.icon-leaves:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-dots:before {
  content: "\e90a";
}
.icon-hook:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-down:before {
  content: "\e90d";
}
.icon-bell:before {
  content: "\e90e";
}
.icon-share:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-min-hook:before {
  content: "\e911";
}
