*{margin:0}img{display:block;width:400px;margin-bottom:20px}.section__container{padding:20px 10px}.section__container--dark{background:rgba(0,0,0,.13)}.text--wrong{text-decoration:line-through;color:red}.text--ok{color:green}