.bg{
  &__grey{
    &--dark{
      background-color: $grey_one;
    }
    &--darkone{
      background-color: $grey_seven;
    }
    &--medium{
      background-color: $grey_four;
    }
    &--darker{
      background-color: $grey_tree;
    }
    &--two{
      background-color: $grey_two;
    }
    &--eight{
      background-color: $grey_eight;
    }
  }
  &__gradient{
    background: #46c29e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #46c29e 0%, #4176bd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #46c29e 0%,#4176bd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #46c29e 0%,#4176bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c29e', endColorstr='#4176bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
