* {
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background: #414042;

  &.overflow{
    overflow: hidden !important;
  }
}


.cover{
  height: 100%;
    object-fit: cover;
}

.full-height {
  width: 100%;
  height: 100%;
}

.dark-background {
  background: #2d2d2d;
}

.d {
  &-block {
    display: block;
  }
  &-flex {
    display: flex;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-content {
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-start {
    justify-content: flex-start;
  }
  &-around {
    justify-content: space-around;
  }
  &-between {
    justify-content: space-between;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
  &-start {
    align-items: flex-start;
  }
  &-base {
    align-items: baseline;
  }
}

.m {
  &-0 {
    margin: 0 !important;
  }
  &-1 {
    margin: 1em;
  }
}

.img-fluid {
  max-width: 100%;
}

.position {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
}

.z-index {
  &-1 {
    z-index: 10;
  }
  &-2 {
    z-index: 20;
  }
}

@mixin padding-x($em) {
  padding-left: $em;
  padding-right: $em;
  @media all and (max-width: 400px) {
    padding-left: $em/5;
    padding-right: $em/5;
  }
}

@mixin padding-y($em) {
  padding-top: $em;
  padding-bottom: $em;
}

@mixin margin-y($em) {
  margin-top: $em;
  margin-bottom: $em;
}

@mixin padding-t($em) {
  padding-top: $em;
}

@mixin padding-b($em) {
  padding-bottom: $em;
}

@for $i from 1 through 5 {
  .px-#{$i} {
    @include padding-x(0em +$i);
  }
  .py-#{$i} {
    @include padding-y(0em +$i);
  }
  .my-#{$i} {
    @include margin-y(0em +$i);
  }
  .pt-#{$i} {
    @include padding-t(0em +$i);
  }
  .pb-#{$i} {
    @include padding-b(0em +$i);
  }
  .p-#{$i} {
    padding: 0em +$i;
  }
  .pl-#{$i} {
    padding-left: 0em +$i;
  }
  .pr-#{$i} {
    padding-right: 0em +$i;
  }
  .mb-#{$i} {
    margin-bottom: 0em +$i;
  }
  .mt-#{$i} {
    margin-top: 0em +$i;
  }
}

.pb-05 {
  margin-bottom: 0.5em;
}

.mb-0 {
  margin-bottom: 0em !important;
}

.w {
  &-100 {
    width: 100%;
  }
  &-90 {
    width: 90%;
  }
  &-80 {
    width: 80%;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.icon-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  &--gray {
    border-style: solid;
    border-width: 2px;
  }
}

.horizontal-line {
  width: 40px;
  height: 2px;
  display: block;
  &--white {
    border-bottom: 1px solid white;
  }
}

.border {
  &__l {
    border-left: 1px solid;
    &--gray {
      border-color: #b1b3b5;
    }
  }
}

.reset {
  outline: none;
  border: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.project__icon--slider {
  background-color: #2D2D2D;
  background-size: 10px !important;
  width: 35px !important;
  height: 35px !important;
  background-position: center center;
  right: 0 !important;
  left: initial !important;
  top: 0 !important;
  margin: 0 !important;
  z-index: 100;
  &.swiper-button-prev {
    top: 35px !important;
  }
}

.monserat__font {
  font-family: $monserrat;
}

.crimson__font {
  font-family: 'Crimson Text', serif;
}

.z-5 {
  position: relative;
  z-index: 5;
}

.opacity {
  opacity: .6;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &-item{
    border: 0;
    width: 100%;
  }
}

.text {
  &__yellow {
    color: $yellow;
  }
  &__grey {
    color: #D6D7D8;
  }
}

.nice_scroll{
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    // background: #414042;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
  }
}
