.grid {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 10px;
    font-size: 1em;
    grid-auto-rows: 270px;
    @media all and (max-width: 1110px) {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    @media all and (max-width: 910px) {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    }
    @media all and (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        font-size: 1.3em;
        .grid__item {
            grid-column: span 1 !important;
        }
        .grid__subtitle {
            display: inline !important;
        }
    }
}

.grid__container{
    padding: 45px 0;
    background: linear-gradient(to bottom, rgba(53,53,53,1) 0%,rgba(53,53,53,1) 25%,rgba(65,64,66,1) 25%,rgba(65,64,66,1) 100%);
}

.grid__item {
    position: relative;
    // overflow: hidden;
    width: 100%;
    height: 100%;

    &--empty{
        @media all and (max-width: 910px) {
            display: none !important; 
        }
    }

    &.grid__item--progress{
        
        .grid__menu{


            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 4px;
                background: linear-gradient(to right, rgba(106, 189, 155, 1) 0%, rgba(111, 187, 123, 1) 100%);
                z-index: 10;
            }


            &.progress--10 {
                &::before {
                    width: 10%
                }
            }
            &.progress--20 {
                &::before {
                    width: 20%
                }
            }
            &.progress--30 {
                &::before {
                    width: 30%
                }
            }
            &.progress--40 {
                &::before {
                    width: 40%
                }
            }
            &.progress--50 {
                &::before {
                    width: 50%
                }
            }
            &.progress--60 {
                &::before {
                    width: 60%
                }
            }
            &.progress--70 {
                &::before {
                    width: 70%
                }
            }
            &.progress--80 {
                &::before {
                    width: 80%
                }
            }
            &progress--90 {
                &::before {
                    width: 90%
                }
            }
            &progress--100 {
                &::before {
                    width: 100%
                }
            }

        }
    }

    &--jawed{
        .grid__bottom{
            height: 35px;
            background: #ffbb07;
            font-family: $monserrat;
            color: #2d2d2d;
            font-size: .85em;
        }
        .grid__proyect{
            color: #ffbb07;
        }
        .grid__cover{
            &::before{
                content: "";
                position: absolute;
                background-image: url(../images/shark.svg);
                background-repeat: no-repeat;
                width: 100%;
                height: 96px;
                z-index: 10;
                left: 0;
                background-size: contain;
                background-position: right;
                bottom: -5px;

                @media all and (max-width: 480px) {
                    height: 64px;
                }
            }
        }
        .grid__thumbnail{
            background: #ffbb07;
        }
    }
    &--amount {
        background: #2D2D2D;
        flex-direction: column;
        .grid__total-projects {
            font-family: $monserrat;
            font-size: 7em;
            font-weight: 700;
            color: $yellow;
        }
        .grid__label-projects {
            font-family: $monserrat;
            font-weight: 100;
            color: #D2D3D4;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
        }
    }
    &--storie {
        .grid__amount {
            position: absolute;
            top: 10px;
            z-index: 10;
            right: 10px;
            width: 55px;
            height: 55px;
            background: $yellow;
            border-radius: 50%;
            flex-direction: column;
            .value {
                font-family: $monserrat;
                font-weight: bold;
                font-size: 1.8em;
                color: #2D2D2D;
                line-height: .8em;
            }
            .tag {
                font-family: $monserrat;
                color: #FFF;
                font-weight: 100;
                font-size: .8em;
                line-height: 1.2em;
            }
        }
    }
    &.grid__item--large {
        grid-column: span 2;
        .grid__subtitle {
            display: inline;
        }
    }
    &.grid__item--flat {
        padding: 20px 10px 0 20px;
        &.audiovisual {
            @include category-background($audiovisual);
        }
        &.design {
            @include category-background($design);
        }
        &.environment {
            @include category-background($environment);
        }
        &.fashion {
            @include category-background($fashion);
        }
        &.food {
            @include category-background($food);
        }
        &.gaming {
            @include category-background($gaming);
        }
        &.health {
            @include category-background($health);
        }
        &.journalism {
            @include category-background($journalism);
        }
        &.music {
            @include category-background($music);
        }
        &.photography {
            @include category-background($photography);
        }
        &.sports {
            @include category-background($sports);
        }
        &.technology {
            @include category-background($technology);
        }
        &.update{
            @include category-background($yellow);

            .grid__date, .grid__category, .grid__proyect,.grid__description,.grid__cta, .grid__button{
                color: #806104;
            }
            .grid__button .grid__icon{
                border-color: #806104;
            }
        }
        .grid__category {
            color: #FFF;
            border: none;
            padding: 0;
            margin-bottom: 20px;
        }
        .grid__proyect {
            color: rgba(255, 255, 255, 0.95);
            margin-bottom: 5px;
        }
    }
    &--hover {
        .grid__cover {
            height: 100%;
        }
        .grid__introduction {
            display: none;
            opacity: 0;
            visibility: hidden;
            font-family: $crimson;
            color: #FFF;
            font-size: .9em;
            margin: 10px 0;
        }
        .grid__buttons {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
        &:hover {
            .grid__introduction {
                display: block;
                animation: fadeIn .3s ease-in-out 0s forwards;
            }
            .grid__buttons {
                display: flex;
                animation: fadeIn .3s ease-in-out 0s forwards;
            }
            .grid__category {
                color: #FFF;
                border: none;
                &.audiovisual {
                    @include category-background($audiovisual);
                }
                &.design {
                    @include category-background($design);
                }
                &.environment {
                    @include category-background($environment);
                }
                &.fashion {
                    @include category-background($fashion);
                }
                &.food {
                    @include category-background($food);
                }
                &.gaming {
                    @include category-background($gaming);
                }
                &.health {
                    @include category-background($health);
                }
                &.journalism {
                    @include category-background($journalism);
                }
                &.music {
                    @include category-background($music);
                }
                &.photography {
                    @include category-background($photography);
                }
                &.sports {
                    @include category-background($sports);
                }
                &.technology {
                    @include category-background($technology);
                }
            }
        }
    }
    &--discover {
        background: #2d2d2d;
        position: relative;
        cursor: pointer;
        .grid__discover {
            position: relative;
            z-index: 10;
        }
        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: block;
        }
        .grid__discover-img {
            width: 110px;
            margin-bottom: 10px;
        }
        .grid__discover-title {
            font-family: $monserrat;
            font-size: 1.3em;
            font-weight: 300;
            letter-spacing: 1px;
            color: #d2d3d4;
        }
        &:hover {
            background: #ff4080;
            transition: all .2s ease-in;
            &::after {
                content: "";
                position: absolute;
                width: 90%;
                height: 90%;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                border-radius: 50%;
                background: #2d2d2d;
                z-index: 2;
            }
        }
    }
    &.active {
        .grid__overlay {
            animation: coverComplete .4s ease-in 0s forwards;
        }
        .grid__card {
            animation: fadeIn .3s ease-in-out .4s forwards;
        }
    }
}

.grid__cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 35px);
    position: relative;
    // overflow: hidden;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 67%, rgba(0, 0, 0, 1) 100%);
        top: 0;
        position: absolute;
        left: 0;
    }
}

.grid__thumbnail {
    margin: 0 0 20px 30px;
    width: 60px;
    height: 60px;
    // overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 3px;
    background-image: linear-gradient(90deg, #efefef 50%, transparent 50%, transparent), linear-gradient(219.6deg, #5dbb92 0%, #6cdc85 100%);
}

.grid__date {
    color: rgba(255, 255, 255, 0.95);
    font-family: $monserrat;
    font-size: .7em;
}

.grid__description {
    font-family: Crimson Text, serif;
    color: #fff;
    line-height: 1.1em;
    margin-top: 20px;
    font-size: 1em;
    @media all and (max-width: 1110px) {
        margin-top: 10px;
    }
}

.grid__cta {
    font-family: $monserrat;
    text-decoration: none;
    display: flex;
    color: #fff;
    align-items: center;
    font-size: .8em;
    position: absolute;
    bottom: 55px;
    font-weight: 100;
    @media all and (max-width: 480px) {
        position: initial;
        margin-top: 15px;
    }
    .grid__button {
        margin-right: 10px !important;
    }
    i {
        font-size: 1em;
    }
}

.grid__user {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.grid__information {
    margin-left: 18px;
}

.grid__actions {
    display: flex;
    align-items: center;
    margin: 10px 10px 20px 18px;
    position: relative;
    z-index: 10;
}

.grid__buttons {
    display: flex;
    margin-right: 7px;
    padding: 0 10px 0 0;
    position: relative;
    &:after {
        content: "";
        width: 1px;
        height: 100%;
        background: #B9BBC3;
        position: absolute;
        right: 0;
        top: 0;
    }
    @media all and (max-width: 1110px) {
        padding: 0 7px 0 0;
    }
}

.grid__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 5px;
    transition: all .5s;
    
    &:last-child {
        margin-right: 0;
    }
    .grid__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        border: solid 1px #fff;
        transition: all .5s ease-out;
        margin-bottom: -1px;
        &:hover {
            border-color: rgba(214, 114, 141, 1);
            background: linear-gradient(to bottom, rgba(241, 175, 141, 1) 0%, rgba(214, 114, 141, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--more {
            span {
                margin-top: -7px;
                margin-left: -1px;
            }
        }
    }
    &:nth-child(2) {
        &:hover {
            .grid__be-part {
                display: block;
                animation: fadeIn .5s ease-in-out 0s forwards;
            }
        }
    }
}

.grid__be-part {
    font-family: $monserrat;
    font-weight: 700;
    color: #ffb388;
    width: auto;
    font-size: .7em;
    border: none;
    margin-left: 6px;
    opacity: 0;
    display: none;
    padding: 6px 0;
    @media all and (max-width: 1110px) {
        font-size: .6em;
        margin-left: 5px;
    }
}

.grid__category {
    font-family: $monserrat;
    font-weight: 300;
    font-size: .8em;
    border: 1.5px solid;
    padding: 6px 15px;
    border-radius: 20px;
    line-height: 1em;
    @media all and (max-width: 1110px) {
        font-size: .7em;
        border: 1.3px solid;
        padding: 6px 8px;
    }
    &.audiovisual {
        @include category-color($audiovisual);
    }
    &.design {
        @include category-color($design);
    }
    &.environment {
        @include category-color($environment);
    }
    &.fashion {
        @include category-color($fashion);
    }
    &.food {
        @include category-color($food);
    }
    &.gaming {
        @include category-color($gaming);
    }
    &.health {
        @include category-color($health);
    }
    &.journalism {
        @include category-color($journalism);
    }
    &.music {
        @include category-color($music);
    }
    &.photography {
        @include category-color($photography);
    }
    &.sports {
        @include category-color($sports);
    }
    &.technology {
        @include category-color($technology);
    }
}

.grid__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.grid__overlay {
    background: linear-gradient(90deg, rgba(241, 175, 141, 0.99) 0, rgba(214, 114, 141, 0.99));
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    left: -90px;
    bottom: -210px;
}

@keyframes coverComplete {
    0% {
        height: 0;
        width: 0;
    }
    100% {
        height: 686px;
        width: 686px;
    }
}

@media all and (max-width: 580px) {
    @keyframes coverComplete {
        0% {
            height: 0;
            width: 0;
        }
        100% {
            height: 720px;
            width: 720px;
        }
    }
}

.grid__item {
    &.grid__item--large {
        .grid__card {
            padding: 0;
        }
        .grid__card-description {
            font-size: 1.3em;
        }
        .grid__close {
            margin-right: 20px;
        }
    }
}

.grid__card {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
    .grid__close {
        cursor: pointer;
        color: #FFF;
        align-self: flex-end;
    }
}

.grid__subtitle {
    display: none;
}

.grid__card-content {
    list-style: none;
    li {
        margin-bottom: 10px;
    }
}

.grid__card-title {
    font-weight: 700;
    font-family: $monserrat;
    color: #fff;
    font-size: 1.4em;
    letter-spacing: .6px;
}

.grid__card-description {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    color: #fff;
    font-size: 1.1em;
    line-height: 1em;
}

.grid___client {
    font-weight: 100;
    font-style: italic;
    color: #c9cbcc;
    font-size: .9em;
    line-height: .5em;
    margin-bottom: 5px;
}

.grid__proyect {
    font-weight: 700;
    color: #FFF;
}

.grid__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.grid__menu {
    display: flex;
    height: 35px;
    background: #FFF;
    align-items: center;
}

.grid__list {
    position: relative;
    font-family: $monserrat;
    font-weight: 700;
    list-style: none;
    padding: 4px 10px;
    color: $grey--color;
    font-size: .7em;
    &:after {
        content: "";
        width: 1px;
        height: 100%;
        background: #B9BBC3;
        position: absolute;
        right: 0;
        top: 0;
    }
    &:last-child {
        &:after {
            content: none;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}