.btn{
  transition: all 100ms linear;
  &__round{
    border: 1.5px solid;
    padding: .5em 1.5em;
    border-radius: 20px;
    @media all and (max-width: 400px){
      padding: .4em 1em;
    }
  }
  &__ghost{
    &--green{
      border-color: $green;
      color: $green;
      &:hover{
        background-color: $green;
        color: white;
      }
    }
    &--blue{
      color: $blue_one;
    }
    &--gradiente-rose{
      border: 2px solid transparent;
      background-image: linear-gradient(#2d2d2d,#2d2d2d),radial-gradient(circle at top left,#d65e7c,#f2b08e);
      background-origin: border-box;
      background-clip: content-box,border-box;
      border-radius: 20px;
      width: auto;
      min-width: 110px;
      max-width: 140px;
      height: 35px;
      text-decoration: none;
      font-size: .9em;
      line-height: 1.5em;
      outline: none;
      color: white;
      &:hover{
        background-color: #d65e7c;
      }
    }
  }
  &__block{
    display: block;
    width: 100%;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
  }
  &__gray{
    color: $grey_one;
    background-color: $grey_five;
    &:hover{
      background-color: white;
      color: $grey_one;
    }
  }
  &__green{
    &--acid{
      background-color: $food;
      &:hover{
        background-color: #a6bb2e;
        color: $grey_one;
      }
    }
    &--corp{
      color: $grey_one;
      background-color: $green;
      &:hover{
        background-color: white;
        color: $green;
      }
    }
  }
  &__dropdown{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    &--black{
      background-color: $grey_one;
      text-align: left;
      font-size: 1.1em;
      font-family: $monserrat;
      color: $grey_five;
      border-bottom: 1px solid $grey_five;
    }
  }
  &__chat{
    color: $blue_one;
    font-family: $monserrat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover{
      background-color: $blue_one;
      color: $grey_one;
    }
  }
  &__login{
    &-round{
      border-radius: 50%;
      display: flex;
      height: 5em;
      width: 5em;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all .2s ease-in-out;
      &:hover{
        color: white;
        background-color: rgba(53, 94, 150, 0.5);
      }
    }
    &-ghost{
      border: 1.5px solid;
      padding: .5em 1.5em;
      border-radius: 20px;
      color: white;
      width: 10em;
      &:hover{
        border-color: $blue_two;
        color: white;
        background-color: $blue_two;
      }
    }
  }
}

.dropdown{
  transition: all, 100ms, linear;
  &__btn{
    outline: none;
    .icon{
    }
  }
  &__content{
    transition: all, 100ms, linear;
    padding: 1em;
    display: none;
    .item{
      &__link{
        font-family: $monserrat;
        text-decoration: none;
        padding: 0.5em 0.2em;
        display: block;
        color: $grey_five;
      }
      &:hover{
        background-color: #222222;
      }
    }
    &.show{
      display: block;
      transition: all, 100ms, linear;
    }
  }
}
