.categories {
    padding: 35px 0;
    background: #353535;
}

@mixin hover-category($color) {
    .category__icon {
        color: $color;
    }
    &:hover {
        box-shadow: 0px 0px 0px 1px $color;
        .category__icon,
        .category__name {
            color: $color;
        }
    }
}

.grid__categories {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(3, 160px);
    grid-gap: 5px;
    grid-auto-rows: 160px;
    @media all and (max-width: 700px) {
        margin-top: 20px;
        grid-template-columns: repeat(3, 160px);
    }
    @media all and (max-width: 400px) {
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(4, 110px);
        grid-auto-rows: 110px;
    }
    @media all and (max-width: 320px) {
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(4, 90px);
    }
}

.category__row {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1060px) {
        flex-direction: column;
        align-items: center;
    }
}

.category__item {
    position: relative;
    a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
    }
    transition: box-shadow 0.2s linear;
    &--audiovisual {
        @include hover-category($audiovisual);
    }
    &--design {
        @include hover-category($design);
    }
    &--environment {
        @include hover-category($environment);
    }
    &--fashion {
        @include hover-category($fashion);
    }
    &--food {
        @include hover-category($food);
    }
    &--gaming {
        @include hover-category($gaming);
    }
    &--health {
        @include hover-category($health);
    }
    &--journalism {
        @include hover-category($journalism);
    }
    &--music {
        @include hover-category($music);
    }
    &--photography {
        @include hover-category($photography);
    }
    &--sports {
        @include hover-category($sports);
    }
    &--technology {
        @include hover-category($technology);
    }
}

.category__header {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
    margin-right: 25px;
    @media all and (max-width: 1060px) {
        align-self: flex-start;
        margin-top: 0;
        margin-bottom: 25px;
    }
    @media all and (max-width: 320px) {
        margin-bottom: 10px;
    }
}

.category__name {
    font-family: $monserrat;
    font-size: .9em;
    color: #a6a8ab;
    font-weight: 100;
    transition: color 0.2s ease-in;
    position: absolute;
    bottom: 25px;
    @media all and (max-width: 400px) {
        font-size: .8em;
        bottom: 15px;
    }
    @media all and (max-width: 320px) {
        font-size: .7em;
        bottom: 10px;
    }
}

.category__icon {
    margin-bottom: 15px;
    font-size: 45px;
    @media all and (max-width: 320px) {
        font-size: 40px;
    }
}

.category__subtitle {
    font-family: $monserrat;
    font-weight: 700;
    color: #a7a9ab;
    font-size: 2em;
    letter-spacing: 2px;
    @media all and (max-width: 400px) {
        font-size: 1.5em;
    }
}

.category__paragraph {
    font-family: $monserrat;
    color: #ff4080;
    margin-top: 25px;
    font-size: .7em;
    letter-spacing: 1px;
    @media all and (max-width: 400px) {
        margin-top: 10px;
    }
}

.category__arrow {
    width: 30px;
    margin: 10px 15px 0 0;
}

.category__separator {
    width: 1px;
    height: 115px;
    background: white;
    margin-right: 20px;
    @media all and (max-width: 400px) {
        height: 125px;
    }
}