.text{
  &__gray{
    &--dark{
      color: $grey_one
    }
    &--medium{
      color: $grey_two;
    }
    &--light{
      color: $grey_five;
    }
  }
  &__white{
    color: white;
  }
  &__blue{
    &--two{
      color: $blue_two;

      &:hover{
        color: $blue_three !important;
      }
    }
  }
  &__orange{
    color: $orange_one;
    &--two{
      color: $orange_two;
    }
  }
  &__pink{
    color: $pink_one;
  }
  &__red{
    color: $fashion;
  }
  &__green{
    color: $green;
  }
  &__xs{
    font-size: 0.7em;
  }
  &__sm{
    font-size: 0.9em;
  }
  &__md{
    font-size: 1em;
  }
  &__mdi{
    font-size: 1.1em;
  }
  &__lg{
    font-size: 1.2em;
  }
  &__mlg{
    font-size: 1.3em;
  }
  &__xlg{
    font-size: 1.5em;
  }
  &__mxlg{
    font-size: 1.8em;
  }
  &__xxlg{
    font-size: 2em;
  }
  &__xxxlg{
    font-size: 3em;
  }
  &__icon{
    &-sm{
      font-size: 5em;
    }
  }
  &__montserrat{
    font-family: $monserrat;
  }
  &__crimson{
    font-family: $crimson;
  }
  &__bold{
    font-weight: 600;
  }
  &__medium{
    font-weight: 500;
  }
  &__regular{
    font-weight: 400;
  }
  &__light{
    font-weight: 300;
  }
  &__ls{
    &-1{
      letter-spacing: 1px;
    }
    &-2{
      letter-spacing: 2px;
    }
    &-3{
      letter-spacing: 3px;
    }
  }
  &__align{
    &-r{
      text-align: right;
    }
  }
  &__center{
    text-align: center;
  }
  &__upper{
    text-transform: uppercase;
  }
}

.link{
  &__none{
    text-decoration: none;

    // &:hover{
    //   color: inherit;
    // }
  }
}
