.footer{
  margin-top: 30px;

  &__login{
    .nav__footer{
      list-style: none;
      .item{
        margin: 0 1em;
        &__link{
          color: $grey_five;
          text-decoration: none;
          &:hover{
            color: $green;
          }
        }
      }
    }
    .divider{
      border-top: 1.5px solid #231f20;
    }
    .icon-circle{
      border: 1px solid $green;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $green;
      &:hover{
        background-color: $green;
        color: $grey_tree;
      }
    }
  }
  .menu-footer{
    &__categories{
      .item{
        list-style: none;
        font-family: $monserrat;
        padding-bottom: 0.4em;
        &__link{
          color: $grey_five;
          text-decoration: none;
          &--audiovisual {
            &:hover{
              color: $audiovisual;
            }
          }
          &--design {
            &:hover{
              color: $design;
            }
          }
          &--environment {
            &:hover{
              color: $environment;
            }
          }
          &--fashion {
            &:hover{
              color: $fashion;
            }
          }
          &--food {
            &:hover{
              color: $food;
            }
          }
          &--gaming {
            &:hover{
              color: $gaming;
            }
          }
          &--health {
            &:hover{
              color: $health;
            }
          }
          &--journalism {
            &:hover{
              color: $journalism;
            }
          }
          &--music {
            &:hover{
              color: $music;
            }
          }
          &--photography {
            &:hover{
              color: $photography;
            }
          }
          &--sports {
            &:hover{
              color: $sports;
            }
          }
          &--technology {
            &:hover{
              color: $technology;
            }
          }
        }
      }
    }
  }
  .horizontal-line{
    width: 40px;
    display: block;
    border-bottom: 1px solid $grey_five;
    height: 2px;
    margin: 1em 0;
    &--full{
      width: 100%;
    }
  }
  .submenu{
    &__item{
      list-style: none;
      padding: 0.5em 0;
      &--link{
        color: $grey_five;
        font-family: $monserrat;
        text-decoration: none;
        font-weight: 300;
      }
    }
    &--redes{
      .submenu__item{
        &--link{
          &:hover{
            color: $green;
          }
        }
      }
    }
  }
  .line-divisor{
    border-top: 1.5px solid $grey_one;
  }
}
