.form-group {
  margin-bottom: 1rem;
  .select-wrapper{
    position: relative;
    cursor: pointer;
    &::before{
      font-family: 'icomoon' !important;
      content: "\e90d";
      position: absolute;
      color: white;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    &__grey-one{
      background: $grey_one;
    }
    &__grey-two{
      background: $grey_four;
    }
  }
  &__select{
    width: 100%;
    font-size: 1em;
    height: 40px;
    padding: 0 10px;
    background: transparent;
    color: #FFF;
    font-family: $monserrat;
    position: relative;
  }
}
.form-control{
  &--black{
    color: $grey_two;
    background-color: $grey_one;
    border-bottom: 1px solid $grey_tree;
    &:active, &:focus{
      color: $grey_five;
    }
  }
  &--green{
    color: $green;
    background-color: $grey_one;
    font-size: 1.5em;
    &:active, &:focus{
      color: $green;
    }
  }
  &--transparent{
    color: $grey_two;
    background-color: transparent;
    &:active, &:focus{
      color: $grey_five;
    }
  }
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border:none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none;
  font-family: $monserrat;
  font-weight: 300;
  &--reset{
    -webkit-appearance: none;
  }
}

.select-control{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: 0;
  border: none;
  &--numbers{
    width: 4em;
    font-size: 1.5em;
  }
  &--black{
    color: $grey_two;
    background-color: $grey_one;
    font-weight: 400;
    font-family: $monserrat;
    &:active, &:focus{
      color: $grey_five;
    }
  }
  &--transparent{
    color: $grey_two;
    font-weight: 400;
    font-family: $monserrat;
    &:active, &:focus{
      color: $grey_five;
    }
  }
  &--green{
    color: $green;
    background-color: $grey_one;
    font-weight: 400;
    font-family: $monserrat;
    &:active, &:focus{
      color: $green;
    }
  }
}

.form-file{
  &--upload{
    background-color: $grey_eight;
    height: 25em;
    flex-direction: column;
    .label{
      cursor: pointer;
    }
    &--video{
      height: 15em;
    }
  }
  &__restrictions{
    list-style: none;
    .item{
      position: relative;
      padding-left: 1.5em;
      font-family: $monserrat;
      font-weight: 300;
      color: #8a8c8f;
      font-size: .8em;
      margin-bottom: 1em;
      &::before{
        font-family: 'icomoon' !important;
        content: "\e914";
        position: absolute;
        left: 0;
        font-size: 0.9em;
        background: radial-gradient(ellipse at center, rgba(214,115,141,1) 0%,rgba(238,168,141,1) 75%,rgba(238,168,141,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.social{
  margin: 1em 0px;

  .social__network{

    @media all and (max-width: 1220px) {
      margin-bottom: 20px;

      &:last-child{
        margin: 0;
      }
    }
  }

  @media all and (max-width: 1220px) {
    flex-direction: column;
  }
  &__icon {
    color: #8a8c8f;
    font-size: 1em;
    font-family: $monserrat;
    font-weight: 100;
    margin-right: 15px;

    i{
      font-size: 1.8em;
      margin-right: 3px;
    }
  }
  &__input{
    background: rgba(0, 0, 0, 0.10);
    color: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 15px;
    height: 30px;
  }

  .vertical-divider{
    width: 1px;
    height: 30px;
    background: #6d6e71;

    @media all and (max-width: 1220px) {
      display: none;
    }
  }
}
