// Large devices (desktops, less than 1200px)

@media (min-width: 1800px) {
  header{
    margin-bottom: 65px;
  }

  .footer{
    margin-top: 50px;
  }
}
@media (max-width: 1199.98px) {
  .menu{
    font-size: 0.9em;
  }
  .nav{
    font-size: 0.9em;
  }
}

// Medium devices (tablets, l8ess than 992px)
@media (max-width: 991.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .sidebar{
    &__be-part{
      .hero__title{
        font-size: 6em;
      }
      .features-content{
        top: auto;
        right: auto;
        width: 100%;
        height: 100%;
      }
      .feature{
        width: 100%;
        margin: 4em auto;
        padding: 1em 0;
        &__one{
          .col-one{
            width: 100%;
          }
          .col-two{
            position: relative;
            margin: 1em auto;
          }
        }
        &__two{
          .col-one{
            width: 100%;
            .text__align-r{
              text-align: left;
            }
            .img{
              position: relative;
              left: 0;
              top: 1em;
            }
          }
          .col-two{
            position: relative;
            margin: 1em auto;
            width: 100%;
          }
        }
        &__three{
          .col-one{
            width: 100%;
          }
          .col-two{
            position: relative;
            margin: 1em auto;
          }
        }
      }
    }
    &__project{
      .title {
        border-left: none;
      }
    }
    &__chat{
      width: 100%;
      right: 0;
      min-width: auto;
      min-height: auto;
      .content{
        .chat_container{
          padding-bottom: 4em;
          max-height: 93vh;
        }
      }
    }
  }
  .px-sm{
    &-1{
      padding-left: 1.5em !important;
      padding-right: 1.5em !important;
    }
  }
  .footer__login{
    .nav__footer{
      text-align: center;
      .item{
        padding: 0.5em 0;
      }
    }
  }
  .footer__logout{
    .title{
      text-align: center;
      padding-bottom: 1em;
    }
    .menu-footer__categories{
      text-align: center;
      .item{
        padding: 0.5em 0;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .sidebar__login .container__group {
    min-height: 72vh;
  }
}
