header{
  margin-bottom: 30px;
  &.mt-0{
    margin: 0;
  }
}

.nav {
  display: flex;
  font-size: 1em;
  // position: relative;
  @media all and (max-width: 768px) {
    flex-direction: column;
    &__preheader {
      width: 100%;
      justify-content: space-around;
    }
  }
  &__topbar {
    padding: 1rem 3rem;

    &--none{
      
      #burger-icon{
        display: none;
        & + .divider {
          display: none;
        }
      } 

    }
    &--middle{
      .logo{
        top: 0 !important;
      }
    }

    @media all and (max-width: 768px) {
      padding: .5rem 0rem;
    }
    .divider {
      height: 2em;
      width: 1px;
      border-right: 1px solid $grey_five;
      padding: 0 1em;
      @media all and (max-width: 1260px) {
        padding: 0 .5em;
      }
      @media all and (max-width: 768px) {
        padding: 0 .3em;
        margin-right: 6px;
      }
    }
    .link--topbar{
      &:hover{
        color: white;
      }
    }
    .btn__ghost--blue{
      &:hover{
        color: $orange_one;
      }
    }
    .logo {
      font-size: 2.2em;
      line-height: 0em;
      position: relative;
      top: 1em;
      text-align: center;
      z-index: 5;
      @media all and (max-width: 768px) {
        font-size: 2em;
        line-height: 1em;
        top: initial;
        margin: 20px 0;
      }
      .img__logo {
        font-size: .9em;
        letter-spacing: 10px;
        font-family: $monserrat;
        color: #FFF;
        font-weight: 100;
        max-width: 100%;
        margin: 0 auto;
      }
      &__small{
        top: 0;
        .img__logo {
          width: 4em;
        }
      }
    }
  }
  &__categories {
    padding: 3rem;
    padding-bottom: 0rem;
    @media all and (max-width: 1260px) {
      padding: 0;
    }
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  font-size: 1em;
  &__categories {
    justify-content: space-between;

    @media all and (max-width: 1260px) {
      background: $grey_four;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 50;
      right: 0;
      width: 50%;
      height: 90vh;
      padding: 15px;
      flex-direction: column;
      justify-content: space-around;
      &.open {
        transition: opacity .4s, visibility .4s;
        visibility: visible;
        opacity: 1;
      }
    }

    @media all and (max-width: 768px) {
      left: 0;
    }

    .item {
      list-style: none;
      display: block;
      padding: 0 .5em;
      @media all and (max-width: 768px) {
        margin: 5px 0;
        // width: 50%;

        &:last-child{
          width: 100%;
        }
      }
      &__link {
        font-family: $monserrat;
        color: $grey_two;
        text-decoration: none;
        text-align: center;
        &:hover {
          color: white;
        }
        &.active {
          color: white;
        }
        .line {
          width: 1.3em;
          height: 4px;
          border-bottom: 3px solid;
          display: block;
          margin: 0 auto;
          padding-top: 1.5em;
          @media all and (max-width: 1260px) {
            width: 100%;
            padding: 0;
            margin-top: 5px;
          }
        }
        &--all {
          color: white;
          border-color: white;
        }
        &--audiovisual {
          .line {
            color: $audiovisual;
          }
        }
        &--design {
          .line {
            color: $design;
          }
        }
        &--environment {
          .line {
            color: $environment;
          }
        }
        &--fashion {
          .line {
            color: $fashion;
          }
        }
        &--food {
          .line {
            color: $food;
          }
        }
        &--gaming {
          .line {
            color: $gaming;
          }
        }
        &--health {
          .line {
            color: $health;
          }
        }
        &--journalism {
          .line {
            color: $journalism;
          }
        }
        &--music {
          .line {
            color: $music;
          }
        }
        &--photography {
          .line {
            color: $photography;
          }
        }
        &--sports {
          .line {
            color: $sports;
          }
        }
        &--technology {
          .line {
            color: $technology;
          }
        }
      }
    }
  }
}

#burger-icon {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  +span {
    display: none;
  }
  @media all and (max-width: 1260px) {
    display: block;
    +span {
      display: block;
    }
  }

  + span{
    padding-left: 0.5em;
    margin-right: 15px;
  }
}

#burger-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: $grey_five;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#burger-icon span:nth-child(1) {
  top: 0px;
}

#burger-icon span:nth-child(2),
#burger-icon span:nth-child(3) {
  top: 12px;
}

#burger-icon span:nth-child(4) {
  top: 24px;
}

#burger-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#burger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger-icon.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

@import "_media-queries.scss";
