//fonts
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600i|Montserrat:300,400,500,700|Raleway:700');

$crimson: 'Crimson Text';
$monserrat: 'Montserrat';
$raleway: 'Raleway';


//Colors
$grey_one: #2d2d2d;
$grey_two: #515151;
$grey_tree: #383838;
$grey_four: #353535;
$grey_five: #b1b3b5;
$grey_six: #a4a6a9;
$grey_seven: #414042;
$grey_eight: #6D6E71;
$yellow: #FFBE07;
$brown: #7C592F;
$grey--color: #58595b;


$last_grey: #BDBFC0;
$shark_name_color: #D6D7D8;

$orange_one: #ffbe07;
$orange_two: #ffb388;

$blue_one: #4198bb;
$blue_two: #355e95;
$blue_three: #244672;

$pink_one: #e15d88;

$audiovisual: #ff8400;
$design: #9528a9;
$fashion: #e21f63;
$food: #d8f72b;
$journalism: #c3f2c1;
$photography: #038e72;
$environment: #43ffbe;
$technology: #3f51b2;
$sports: #b8b8b8;
$gaming: #e26a6b;
$health: #3fc3ff;
$music: #ff3222;
$green: #00FF83;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1440px;
$min_font: 13px;
$max_font: 16px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}


@mixin category-color($color) {
  color: $color;
  border-color: $color;
}

@mixin category-background($color) {
  background: $color;
}

@mixin color($color) {
  color: $color;
}
