
.ubication__container {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 25px;
        height: 1.5px;
        background: #B1B3B5;
        bottom: 0;
        left: 0;
    }
}

.amount--section {
    margin: 5px 0;
    .amount {
        width: 32%;
        background: #e6e7e7;
        font-size: .85em;
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
    .amount__wrapper {
        flex-direction: column;
    }
    .amount__raised {
        font-family: $monserrat;
        height: 100%;
        width: 100%;
        position: relative;
        flex-direction: column;


        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 10px;
            background: linear-gradient(to right, rgba(106, 189, 155, 1) 0%, rgba(111, 187, 123, 1) 100%);
            z-index: 10;
        }

            &.progress--10 {
                &::before {
                    width: 10%
                }
            }
            &.progress--20 {
                &::before {
                    width: 20%
                }
            }
            &.progress--30 {
                &::before {
                    width: 30%
                }
            }
            &.progress--40 {
                &::before {
                    width: 40%
                }
            }
            &.progress--50 {
                &::before {
                    width: 50%
                }
            }
            &.progress--60 {
                &::before {
                    width: 60%
                }
            }
            &.progress--70 {
                &::before {
                    width: 70%
                }
            }
            &.progress--80 {
                &::before {
                    width: 80%
                }
            }
            &progress--90 {
                &::before {
                    width: 90%
                }
            }
            &progress--100 {
                &::before {
                    width: 100%
                }
    
        }


    }
    #amount {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 2.5em;
        margin: 10px 0 20px;
        .number {
            background: #FFF;
            width: 45px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: rgba(136, 138, 141, 0.25);
            }
            span {
                position: relative;
                z-index: 5;
            }
        }
        >div {
            margin-right: 4px;
        }
    }
}

.raised__total {
    color: #2d2e2d;
}

.raised__count {
    list-style: none;
    li {
        padding: 2px 8px;
        position: relative;
        color: #9c9ea1;
        font-size: .9em;
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background: #b2b4b5;
            right: 0;
            top: 0;
        }
        &:last-child {
            margin: 0;
            &::after {
                content: none;
            }
        }
    }
}

.amount__user {
    width: 48%;
    background: #e6e7e7;
}

.user__picture {
    width: 150px;
    height: 100%;
    flex: none;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.user__profile {
    padding: 20px;
    box-sizing: border-box;
    h3 {
        font-family: $monserrat;
        font-weight: 700;
        color: #4e4e50;
        font-size: 1.6em;
        margin-bottom: 5px;
    }
    h4 {
        font-family: $crimson;
        font-style: italic;
        color: #888a8d;
        font-weight: 100;
    }
    p {
        margin-top: 20px;
        font-family: $crimson;
        color: #424143;
    }
}

.user__links {
    list-style: none;
    padding: 30px 15px;
    box-sizing: border-box;
    .link__item {
        font-family: $monserrat;
        font-size: .8em;
        margin-bottom: 15px;
        color: #FFF;
        position: relative;
        padding-left: 40px;
        font-weight: 100;
        &::before {
            content: "\e913";
            font-family: "icomoon";
            position: absolute;
            left: 11px;
            font-size: .8em;
        }
        &--active {
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                border: 2px solid #fff;
                border-radius: 50%;
                left: 2px;
                top: 50%;
                transform: translateY(-53%);
            }
        }
        a {
            text-decoration: none;
            color: #FFF;
        }
    }
}

.methods {
    padding: 55px 0;
    flex-wrap: wrap;
}

.text__pink {
    color: #FF6699;
}

.text__white {
    color: #FFF;
}

.method__item {
    width: 50%;
    border: solid 2px transparent;
    font-family: $monserrat;
    font-weight: 300;
    position: relative;
    &--buy {
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-image: linear-gradient(#2D2D2D, #2D2D2D), linear-gradient(to right, #fcad88 0%, #e26d8c 100%);
        margin-bottom: 10px;
        &:nth-child(even) {
            border-left: 0;
            background-image: linear-gradient(#2D2D2D, #2D2D2D), linear-gradient(to right, #e26d8c 0%, #fcad88 100%);
        }
    }
    &--help {
        border: solid 1px #424143;
        flex-direction: column; // height: 140px;
        margin-right: 8px;
        width: 49%;
    }
    &--grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 33%);
        grid-auto-flow: dense;
        position: relative;

        @media all and (max-width: 420px){
            grid-template-columns: repeat(8,1fr);
            grid-template-rows: repeat(3,45px);
            
            grid-auto-flow: row !important;
            grid-auto-rows: 45px;
            overflow: hidden;
        }
        &::before {
            content: "";
            position: absolute;
            border-color: transparent transparent transparent #ffb287;
            border-style: solid;
            border-width: 0 0 85px 85px;
        }
        &::after {
            font-family: 'icomoon';
            content: "\e904";
            position: absolute;
            left: 13px;
            color: #2d2e2d;
            top: 16px;
            font-size: 1.6em;
        }
        .picture__item {
            width: 100%;
            height: 100%;
            &--large {
                grid-column: span 2;
                grid-row: span 2;
            }
            &--more {
                background: #1e1e1e;
                a {
                    text-decoration: none;
                    color: #FFF;
                    line-height: 0px;
                    margin-bottom: 7px;
                    letter-spacing: 1px;
                    font-size: 1.1em;
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .method__title {
        color: #E6E7E7;
        font-weight: 700;
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        padding: 5px 20px;
        background: #2d2d2d;
        text-align: center;
    }
    .method__subtitle {
        font-size: .8em;
        color: #fab188;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .subtitle {
        font-weight: 100;
        letter-spacing: 1.2px;
    }
    .number {
        font-weight: bold;
        margin: 5px 0 10px 0;
        &__large {
            font-size: 6.5em;
            line-height: 1em;
            margin-right: 3px;
        }
        &__small {
            font-size: 1.5em;
            align-self: flex-end;
            margin-bottom: 4px;
        }
    }
    .company {
        font-size: .85em;
        letter-spacing: .5px;
        letter-spacing: 1.2px;
        display: block;
        position: relative;
        padding: 0 20px;
        text-align: center;
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 1.5px;
            background: #FF6699;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
        &::after {
            right: 0;
            left: initial;
        }
    }
    .column {
        margin-top: 30px;
        padding-bottom: 30px;
        width: 50%;
        flex-direction: column;
    }
    .selling__menu {
        list-style: none;
        font-family: $monserrat;
        li {
            font-weight: 300;
            color: #6D6E71;
            font-size: .9em;
            margin-bottom: 8px;
            position: relative;
            padding-left: 20px;
            line-height: 1.6em;
            &:before {
                content: "\e914";
                font-family: 'icomoon';
                background: linear-gradient(90deg, #d65e7c 0, #f2b08e);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0.9em;
            }
        }
    }
    .gradient__btn {
        border: 2px solid transparent;
        background-image: linear-gradient(#2d2d2d, #2d2d2d), radial-gradient(circle at top left, #d65e7c, #f2b08e);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-radius: 20px;
        width: 80px;
        height: 30px;
        text-decoration: none;
        font-size: .9em;
        margin: 20px 65px 0 0;
        align-self: flex-end;
        &.centered {
            color: #c99d84;
            width: 110px;
            height: 35px;
            align-self: center;
            i {
                margin-left: 10px;
                margin-left: 10px;
                background: linear-gradient(135deg, #d65e7c, #f2b08e);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.join {
    width: 90%;
    background: #c7c8c9;
    padding: 40px;
    .swiper-container {
        .swiper-button-next {
            right: 20px;
        }
    }
    &__column {
        box-sizing: border-box;
        &:first-child {
            width: 35%;
        }
        &:last-child {
            width: 65%;
            padding: 0 20px;
            position: relative;
            .swiper-button-next,
            .swiper-button-prev {
                width: 25px;
                height: 25px;
                background-size: contain;
                margin: 0;
                top: 30px;
            }
            .swiper-button-prev {
                left: -10px;
            }
            .swiper-button-next {
                right: -10px;
            }
        }
        .team__item {
            text-align: center;
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 5px;
            }
            .team__position {
                font-family: $monserrat;
                font-weight: 400;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-size: 1em;
            }
            .team__name {
                font-family: $crimson;
                font-style: italic;
                color: #818181;
                font-size: .9em;
                margin: 5px 0;
            }
            &--taken {
                img {
                    border: solid 3px white;
                }
                .team__position {
                    color: #424143;
                }
            }
            &--empty {
                img {
                    border: solid 3px #71c16c;
                }
                .team__position {
                    color: #FFF;
                }
            }
        }
    }
    &__title {
        font-family: $monserrat;
        font-weight: 700;
        color: #424143;
        font-size: 1.7em;
        position: relative;
        padding-left: 20px;
        &::before {
            content: "\e914";
            font-family: 'icomoon';
            position: absolute;
            font-size: .5em;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    &__paragraph {
        font-family: $crimson;
        color: #818181;
        font-size: 1.2em;
        letter-spacing: .5px;
        padding-left: 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 1.5px;
            background: #808080;
            bottom: -1px;
            left: 20px;
            transform: translateY(-50%);
        }
    }
}

.right-layout {
    margin: 10px 0;
    flex-wrap: wrap;
}

.logs {
    width: 35%;
    margin-top: 55px;
}

.log {
    list-style: none;
}

.log__item {
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
    position: relative;
    &::before {
        content: "\e914";
        font-family: 'icomoon';
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: .7em;
        color: #353535;
    }
    &--active {
        &::before {
            color: #FFF;
        }
        &::after {
            content: "";
            width: 25px;
            height: 25px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border: solid 1.5px #FFF;
            position: absolute;
            border-radius: 50%;
        }
        .datetime {
            &::before {
                color: rgba(255, 255, 255, 0.7) !important;
            }
        }
        .date {
            color: rgba(255, 255, 255, 0.7) !important;
        }
    }
    .datetime {
        padding-left: 15px;
        font-family: $monserrat;
        font-size: .8em;
        font-weight: 100;
        position: relative;
        &::before {
            font-family: 'FontAwesome';
            content: "\f017";
            position: absolute;
            left: 0;
            color: #6d6e71;
            font-size: .9em;
            top: 50%;
            transform: translateY(-50%);
        }
        .date {
            color: #6d6e71;
        }
        .time {
            margin-left: 15px;
            color: rgba(255, 64, 128, 0.50);
        }
    }
    .log__description {
        font-family: $crimson;
        font-size: 1em;
        color: #e6e7e7;
        margin-top: 5px;
    }
}

.news {
    width: 55%;
    list-style: none;
    padding: 20px 20px 0 20px;
    background: #4d4d4f;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 10px;
    .new {
        &__item {
            width: 50%;
            border-bottom: solid 1px #231f20;
            height: 300px;
            padding: 13px;
            flex-direction: column;
            overflow: hidden;
            &:nth-child(odd) {
                border-right: solid 1px #231f20;
            }
            &--right {
                justify-content: flex-start !important;
            }
            &:nth-child(5), &:nth-child(6) {
                border-bottom: 0;
            }
        }
        &__title {
            font-family: $monserrat;
            color: #c6c8c9;
            font-weight: 700;
            font-size: 1.4em;
            line-height: 1.2em;
            padding-bottom: 10px;
            &--decoration {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 40px;
                    height: 2px;
                    background: #00ff81;
                    left: 0;
                }
            }
        }
        &__price {
            font-family: $monserrat;
            font-weight: 300;
            font-size: 1.7em;
            color: #c6c8c9;
        }
    }
    .details__container {
        max-height: 115px;
        min-height: 115px;
        overflow-y: scroll;
        margin:15px 0 0;
        width: 95%;

        &::-webkit-scrollbar {
            width: 5px;
          }
        
          &::-webkit-scrollbar-track {
            // background: #414042;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #808080;
          }
          

        .detail {
            color: #b1b3b5;
            font-family: $crimson;
            font-size: 1em;
            width: 98%;
            &--strong{
                font-family: $monserrat;
                font-weight: 300;
                font-size: .85em;
                margin: 10px 0;
                color: #c6c8c9;
            }
        }
        &--large{
            min-height: 158px; 
        }
        &--full{
            min-height: 208px; 
        }
    }
}


.project-section{
    .category__subtitle{
        color: #ff4080;
    }
    .category__paragraph{
        font-weight: 300;
        margin-top: 15px;
    }
    .category__separator{
        background: #ff4080;
    }
    .category__arrow{
        transform: rotate(180deg);
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .amount--section .amount {
        width: 45%;
    }
    .amount__user {
        width: 57%;
    }
}

@media all and (max-width: 991px) {

    .logs {
        width: 100%;
        margin-top: 30px;
    }
    .log{
        display: flex;
        flex-wrap: wrap;
    }
    .log__item{
        width: 50%;
    }
    .news{
        width: 100%;
    }
    .news .new__item{
        padding: 25px;
    }
    .amount--section {
        flex-wrap: wrap;
    }
    .amount--section .amount {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0;
    }
    .amount__raised {
        padding: 25px 0px;
    }
    .amount__user {
        width: 70%;
    }
    .methods {
        flex-direction: column;
    }
    .method__item {
        width: 100%;
        margin-bottom: 15px !important;
        border: 2px solid transparent !important;
        &--help {
            height: 150px;
            border: 1px solid #424143 !important;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .join {
        width: 100%;
        flex-direction: column;
        padding: 30px 40px;
        &__column {
            width: 100% !important;
        }
        .swiper-container.team {
            margin-top: 30px;
        }
        .join__column:last-child .swiper-button-next {
            right: 0;
            top: 55px;
        }
        .join__column:last-child .swiper-button-prev {
            left: 0;
            top: 55px;
        }
    }
}

@media all and (max-width: 480px) {

    .join {
        padding: 30px 15px;
    }
    .log__item {
        font-size: 1.1em;
    }

    .method__item{
        &:nth-child(2){
            .column{
                margin-top: 50px;
            }
        }
    }

    .methods {
        font-size: .92em;
        .column {
            align-items: center;
        }
    }
    .logs{
        margin-top: 30px;
        .datetime{
            flex-direction: column;
            .time{
                margin: 0;
            }
        }
    }

    .news{ 
    .new__item{
        width: 100%;
        height: auto;
        border-right: none !important;

        &:nth-child(5) {
            border-bottom: 1px solid #231f20 ;
        }

    }

    .details__container--full {
        min-height: 150px;
    }
    
}
    .amount__user {
        width: 100%;
    }
    .method__item .gradient__btn {
        margin-right: 0;
        align-self: center;
    }
    .user__links {
        display: flex;
    }
    .user__links .link__item:before {
        transform: rotate(90deg) translateY(-50%);
        top: 30%;
        left: 8px;
    }
    .shark__sidebar .shark__follow--project {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 320px) {
    .user__picture {
        width: 100px;
    }
    #amount .number {
        width: 35px;
        height: 50px;
    }
    .method__item {
        flex-direction: column;
        margin-bottom: 30px !important;
        .column {
            &:last-child {
                margin: 0;
            }
        }
    }
}