.text {
    &--green {
        color: #00FF83 !important;
    }
    &--grey {
        color: #A8AAAC !important;
    }
}

.profile {
    margin: 25px 0;
    .grid__item {
        font-size: .9em;
        @media all and (max-width: 500px) {
            font-size: 1.25em;
        }
    }
    .grid__information {
        margin-left: 15px;
        margin-right: 10px;
    }
    .category__separator {
        background: #FF4080;
        height: 160px;
        @media all and (max-width: 1220px) {
            height: 130px;
        }
    }
    .category__paragraph {
        font-weight: 100;
    }
    .category__header {
        margin: 0;
        flex: none;
        &.right {
            margin: 70px 25px 0 15px;
            @media all and (max-width: 500px) {
                margin: 20px 0;
                justify-content: start;
                align-items: center;
            }
        }
        &.left {
            margin: 70px 25px 0 15px;
            @media all and (max-width: 500px) {
                margin: 20px 0;
                justify-content: start;
                align-items: center;
            }
        }
        @media all and (max-width: 1060px) {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px !important;
            margin-left: 0 !important; // margin-top: 40px!important;
        }
        .first-row {
            text-align: right;
        }
    }
}

@mixin category-background($color) {
    background: $color;
}

@mixin category-color($color) {
    color: $color;
}

.all-projects {
    @media all and (max-width: 500px) {
        .category__separator {
            height: 80px !important;
        }
    }
    #interest {
        .category__separator {
            height: 95px !important;
        }
    }
}

.user__header {
    justify-content: space-between;
    @media all and (max-width: 500px) {
        flex-direction: column;
        font-size: 1.1em;
        &.upload {
            flex-direction: column;
        }
    }
}

.first__column {
    width: 390px;
    margin-right: 10px !important;
    &--upload {
        width: 350px;
        margin-right: 10px !important;
        flex: none;
        #project__upload {
            background: #6d6e71;
            height: 350px;
            @media all and (max-width: 1000px) {
                height: 275px;
            }
            #file-upload {
                display: none;
            }
            label {
                width: 100%;
                height: 100%;
                flex-direction: column;
                cursor: pointer;
            }
        }
    }
    @media all and (max-width: 1220px) {
        width: 30%;
    }
    @media all and (max-width: 500px) {
        width: 100%;
        margin: 0 !important;
    }
    &.projects__viewed {
        @media all and (max-width: 1060px) {
            width: 100%;
            margin: 0;
        }
    }
}

.user__thumbnail {
    flex: none;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .user__follow {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: transparent;
        color: #00FF83;
        border: solid 1.5px #00FF83;
        border-radius: 20px;
        padding: .5em 1.5em;
        font-family: $monserrat;
        font-size: .8em;
        text-shadow: none;
        text-transform: uppercase;
        letter-spacing: .6px;
        &:active,
        &.followed {
            background: #05e076;
            border-color: #05e076;
            color: #FFF;
        }
        &:focus {
            outline: 0;
        }
    }
}

.user__information {
    background: #2D2D2D;
    box-sizing: border-box;
    padding: 15px 20px 0 20px;
    position: relative;
    width: 100%;
    &--transparent {
        background: transparent;
        
        @media all and (max-width: 500px) {
            padding: 15px 0;
        }
    }
}

.user__name {
    font-family: $monserrat;
    color: #fff;
    font-weight: 700;
    margin-top: -30px;
    font-size: 1.8em;
}

.user__social {
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}

.user__biography {
    margin-bottom: 25px;
    @media all and (max-width: 1220px) {
        flex-direction: column;
    }
}

.user__icon {
    width: 30px;
    height: 30px;
    border: 1.2px solid #a8aaac;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    color: #a8aaac;
    &:first-child {
        margin-right: 10px;
    }
}

.user__ubication {
    margin: 15px 0;
    font-family: $monserrat;
    color: #58595B;
    font-size: .7em;
    align-items: center;
    i {
        font-size: 1.8em;
        margin-right: 5px;
    }
}

.user__followers {
    font-family: $monserrat;
    color: #D6D7D8;
    font-size: .8em;
    letter-spacing: 1px;
    margin-right: 15px;
    width: 40%;
    @media all and (max-width: 1220px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.user__description {
    width: 60%;
    @media all and (max-width: 1220px) {
        width: 100%;
    }
    .icon {
        width: 25px;
        font-size: 1.4em;
        border-bottom: solid 1px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .user__paragraph {
        font-family: $crimson;
        color: #A8AAAC;
    }
}

.user__footer {
    border-top: solid 1px #231F20;
    margin: 10px 0;
    padding: 15px 0;
    @media all and (max-width: 993px) {
        flex-direction: column;
    }
    .user__nav {
        width: 40%;
        list-style: none;
        font-family: $monserrat;
        @media all and (max-width: 1220px) {
            width: 100%;
        }
        @media all and (max-width: 993px) {
            margin-bottom: 5px;
        }
        li {
            margin-right: 15px;
            text-align: center;
            font-size: .8em;
            color: #FFF;
            &:last-child {
                margin: 0;
            }
        }
    }
}

.user__url {
    font-family: $monserrat;
    font-size: .8em;
}

.my-projects {
    margin-top: 35px;
    @media all and (max-width: 1060px) {
        flex-direction: column;
    }
    .categories {
        padding: 0;
        background: none;
        list-style: none;
        margin: 25px 25px 25px 0;
        @media all and (max-width: 500px) {
            margin-top: 10px;
        }
        .category__list {
            color: #5F5E60;
            font-family: $monserrat;
            font-size: .9em;
            @media all and (max-width: 500px) {
                font-size: .8em;
            }
        }
    }
    .category__arrow {
        margin: 10px 25px 0 0;
    }
}

.project__slide {
    background: #2D2D2D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    &#project__upload {
        flex-direction: column;
        a {
            flex-direction: column;
            text-decoration: none;
            width: 100%;
            height: 100%;
        }
    }
    .project__upload__title {
        color: #d2d3d4;
        font-size: .8em;
        font-family: Montserrat;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 100;
        line-height: 1.3em;
        text-align: center;
    }
    .project-icon__upload {
        font-size: 55px;
        margin-bottom: 20px;
    }
    .project__information {
        position: absolute;
        bottom: 25px;
        left: 25px;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            bottom: 15px;
            left: 20px;
        }
    }
    .project__author__name {
        font-family: $crimson;
        color: #FFF;
        font-size: .8em;
        margin-bottom: 2px;
        letter-spacing: 1px;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            margin: 0;
        }
    }
    .project__name {
        font-family: $monserrat;
        font-family: 1em;
        color: #FFF;
    }
}

.projects {
    width: 100%;
    &.swiper-container {
        width: 100%;
        height: 100%;
    }
    &.own-projects {
        .project__slide {
            height: 368px;
            @media all and (max-width: 1060px) {
                height: 310px;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                height: 230px;
            }
            @media all and (max-width:667px) {
                height: 255px;
            }
            @media all and (max-width:500px) {
                height: 345px;
            }
            &:not(:first-child) {
                &.audiovisual {
                    @include category-background($audiovisual);
                }
                &.design {
                    @include category-background($design);
                }
                &.environment {
                    @include category-background($environment);
                }
                &.fashion {
                    @include category-background($fashion);
                }
                &.food {
                    @include category-background($food);
                }
                &.gaming {
                    @include category-background($gaming);
                }
                &.health {
                    @include category-background($health);
                }
                &.journalism {
                    @include category-background($journalism);
                }
                &.music {
                    @include category-background($music);
                }
                &.photography {
                    @include category-background($photography);
                }
                &.sports {
                    @include category-background($sports);
                }
                &.technology {
                    @include category-background($technology);
                }
                img {
                    width: 80%;
                    height: 80%;
                    object-fit: cover;
                    border-radius: 50%;
                    box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.33);
                }
            }
        }
    }
    &.following-projects {
        .project__slide {
            height: 240px;
            @media all and (max-width: 500px) {
                height: 345px;
            }
            &:last-child {
                margin: 0 !important;
            }
            .grid__cover {
                height: 100%;
            }
        }
    }
}

.row__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 400px);
    @media all and (max-width: 1220px) {
        width: calc(70% - 10px);
    }
    @media all and (max-width:1060px) {
        width: 100%;
    }
}

.first__column-row {
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
        margin: 0;
    }
    @media all and (max-width:1060px) {
        flex-direction: column;
        margin-bottom: 0;
        &#following {
            flex-direction: column-reverse;
        }
    }
}

.projects__arrow {
    color: #ff4080;
    font-size: .5em;
    margin-right: 10px;
}

.all-projects {
    margin-top: 20px;
    @media all and (max-width: 1060px) {
        flex-direction: column;
    }
}

.projects__viewed {
    font-family: $monserrat;
    color: #bdbfc0;
    font-size: 1.2em;
    flex: none;
}

.projects__viewed__container {
    background: #2d2d2d;
    overflow: hidden;
    max-height: 478px;
    overflow-y: scroll;
    width: 80%;
    margin-top: 20px;

    &::-webkit-scrollbar {
        width: 5px;
      }
    
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #808080;
      }



    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 100%;
    }
    @media all and (max-width:500px) {
        width: 100%;
    }
}

.projects__viewed__nav {
    list-style: none;
}

.project__item {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #58595b;
    padding: 15px;
    img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        object-fit: cover;
    }
    &:last-child {
        border: none;
    }
}

.project__info {
    margin-left: 25px;
}

.project__info__title {
    font-weight: 100;
    font-size: .7em;
    letter-spacing: 1px;
}

.project__info__category {
    font-size: .6em;
    font-weight: 100;
    position: relative;
    padding-left: 15px;
    margin-top: 3px;
    &::before {
        content: "•";
        font-size: 35px;
        line-height: 8px;
        left: 0;
        position: absolute;
    }
    &.audiovisual {
        @include category-color($audiovisual);
    }
    &.design {
        @include category-color($design);
    }
    &.environment {
        @include category-color($environment);
    }
    &.fashion {
        @include category-color($fashion);
    }
    &.food {
        @include category-color($food);
    }
    &.gaming {
        @include category-color($gaming);
    }
    &.health {
        @include category-color($health);
    }
    &.journalism {
        @include category-color($journalism);
    }
    &.music {
        @include category-color($music);
    }
    &.photography {
        @include category-color($photography);
    }
    &.sports {
        @include category-color($sports);
    }
    &.technology {
        @include category-color($technology);
    }
}

.restrictions {
    list-style: none;
    margin: 30px 0 0 20px;

    @media all and (max-width: 500px) {
        margin-top: 20px;
    }
}

.restriction__item {
    position: relative;
    padding-left: 20px;
    font-family: $monserrat;
    font-weight: 300;
    color: #8a8c8f;
    font-size: .8em;
    margin-bottom: 10px;
    &::before {
        font-family: 'icomoon' !important;
        content: "\e914";
        position: absolute;
        left: 0;
        font-size: 0.9em;
        background: radial-gradient(ellipse at center, rgba(214, 115, 141, 1) 0%, rgba(238, 168, 141, 1) 75%, rgba(238, 168, 141, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 50%;
        transform: translateY(-50%);
    }
}

.form-user {
    &__group {
        width: 100%;
        margin-bottom: 20px;
    }
    &__name {
        width: 100%;
        display: block;
        font-size: 1.5em;
        color: $grey_tree;
        font-family: $monserrat;
        background: transparent;
        color: #808080;
    }
    &__ubication {
        width: 100%;
        font-size: 1em;
        height: 40px;
        padding: 0 10px;
        background: transparent;
        color: #FFF;
        font-family: $monserrat;
        position: relative;
    }
    &__biography {
        resize: none;
        width: 100%;
        min-height: 165px;
        font-family: Montserrat;
        color: #bdbfc0;
        background: transparent;
        line-height: 1.5em;
        font-size: .85em;
        font-weight: 100;

        @media all and (max-width: 500px) {

            min-height: 250px;
        }
    }
    .biography {
        font-size: 1.4em;
        font-family: $monserrat;
        color: #58595b;
        font-weight: 300;
        margin-bottom: 10px;
    }
    &__close {
        width: 100%;
        text-align: right;
        font-size: 1.5em;
        margin-top: -15px;
    }
    &__submit {
        background: #00FF83;
        color: #353535;
        font-family: $monserrat;
        font-weight: 400;
        padding: 15px;
        width: 260px;
        font-size: 1em;
        margin-top: 45px;
        letter-spacing: .5px;
    }
}

.select-wrapper {
    position: relative;
    background: #2d2d2d;
    cursor: pointer;
    &::before {
        font-family: 'icomoon' !important;
        content: "\e90d";
        position: absolute;
        color: white;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.divider {
    width: 100%;
    height: 1px;
    background: #2d2d2d;
    margin: 10px 0;
}

.social {
    margin: 30px 0px;
    .social__network {
        @media all and (max-width: 1220px) {
            margin-bottom: 20px;
            &:last-child {
                margin: 0;
            }
        }
    }
    @media all and (max-width: 1220px) {
        flex-direction: column;
    }
    &__icon {
        color: #8a8c8f;
        font-size: 1em;
        font-family: $monserrat;
        font-weight: 100;
        margin-right: 15px;
        i {
            font-size: 1.8em;
            margin-right: 3px;
        }
    }
    &__input {
        background: rgba(0, 0, 0, 0.10);
        color: #FFF;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0 15px;
        height: 30px;
    }
    .vertical-divider {
        width: 1px;
        height: 30px;
        background: #6d6e71;
        @media all and (max-width: 1220px) {
            display: none;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .profile .category__header.right,
    .profile .category__header.left {
        margin: 40px 0 !important;
    }
    .first__column--upload #project__upload {
        height: 200px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .first__column--upload #project__upload {
        height: 280px;
    }
}