.sharks {
    display: grid;
    grid-template-columns: repeat(5, 215px);
    grid-template-rows: repeat(5, 215px);
    grid-auto-rows: 215px;
    grid-gap: 10px;
    align-content: stretch;
    justify-content: stretch;
    grid-template-areas: "meet meet shark1 shark2 empty1" "empty2 shark3 update1 large large" "update2 shark4 shark5 large large" "empty3 shark6 shark7 update3 shark8" "update4 shark9 shark10 shark11 empty4";
    @media all and (max-width: 1220px) {
        grid-template-columns: repeat(5, 1fr);
    }
    @media all and (max-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "meet meet shark1" " shark2 update2 shark3" "large large shark5" "large large shark4" "shark7 shark6 update1" "shark9 update3 shark8" "shark11 update4 shark10" "empty1 empty3 empty2";
    }
    @media all and (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 167px);
        grid-auto-rows: 167px;
        grid-template-areas:
        "meet meet"
        "shark1 shark2"
        "update1 shark3"
        "large large"
        "large large"
        "update2 shark4"
        "shark5 shark11"
        "shark6 shark7"
        "update3 shark8"
        "shark9 update4"
        "shark10 empty3"
        "empty1 empty2";
        font-size: .9em;
        line-height: 1em;
    }
}

@mixin border-color($color) {
    border-color: transparent $color transparent transparent;
}

@mixin background-color($color) {
    background: $color;
}

.shark__item {
    overflow: hidden;
    position: relative;
    a {
        text-decoration: none;
    }
    &--meet {
        grid-area: meet;
        background: #2d2d2d;
        @media all and (max-width: 1199px) {
            font-size: .9em;
        }
        @media all and (max-width: 991px) {}
    }
    &--large {
        grid-area: large;
        .shark__name {
            margin-top: 5px;
        }
        @media all and (max-width: 480px) {
            .shark__description {
                bottom: -30px !important;
            }
        }
    }
    &--update {
        padding: 20px 20px 0 20px;
        @media all and (max-width: 480px) {
            padding-top: 15px;
        }
        &.brown {
            background: $brown;
            .grid__proyect {
                color: $yellow;
            }
            .grid__description {
                color: #eeddcd;
            }
            .grid__date {
                color: $yellow;
            }
        }
        &.yellow {
            background: $yellow;
            .grid__proyect {
                color: #806104;
            }
            .grid__description {
                color: #806104;
            }
            .grid__date {
                color: #725006;
            }
            .grid__cta {
                color: #806104;
                @media all and (max-width: 480px) {
                    margin-top: 20px;
                }
                .grid__icon {
                    border-color: #806104;
                }
                .grid__button {
                    color: #806104;
                }
            }
        }
        @for $i from 1 through 4 {
            &--#{$i} {
                grid-area: update#{$i};
            }
        }
        .grid__cta {
            bottom: 15px;
        }
        .grid__proyect {
            font-size: 1.6em;
            line-height: .9em;
        }
        .grid__jaws {
            font-family: $monserrat;
            font-size: .8em;
            line-height: .9em;
            margin-bottom: 20px;
            font-weight: 400;
        }
        .grid__description {
            font-size: 1em;
        }
        .grid__date {
            opacity: .7;
            font-size: .6em;
            margin-top: 4px;
        }
    }
    &--empty {
        background: inherit;
        @for $i from 1 through 4 {
            &--#{$i} {
                grid-area: empty#{$i};
            }
        }
    }
    &--shark {
        @for $i from 1 through 11 {
            &--#{$i} {
                grid-area: shark#{$i};
            }
        }
        @media all and (max-width: 1199px) and (min-width:1000px) {
            font-size: .9em;
        }
        @media all and (max-width: 768px) {
            font-size: .9em;
        } // @media all and (max-width: 1000px) {
        //     .shark__description {
        //         bottom: -90px !important;
        //     }
        // }
    }
    &--large {
        .shark__name {
            line-height: 1em;
            font-size: 2.6em;
        }
        .shark__description {
            bottom: -50px;
            h3 {
                font-size: 1em;
            }
        }
    }
    &--shark,
    &--large {
        &::after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            border-style: solid;
            border-width: 0 35px 35px 0;
            transition: all .2s ease-in-out;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            z-index: 1;
            transition: all .2s ease-in-out;
        }
        &:hover {
            &::after {
                opacity: 0;
            }
            &::before {
                opacity: .7;
            }
            .shark__name {
                color: #FFF;
            }
            .shark__description {
                bottom: 15px;
                .shark__name,
                h3,
                p {
                    color: #FFF;
                }
            }
        }
        &.audiovisual {
            &::after {
                @include border-color($audiovisual);
            }
            &::before {
                @include background-color($audiovisual);
            }
        }
        &.design {
            &::after {
                @include border-color($design);
            }
            &::before {
                @include background-color($design);
            }
        }
        &.environment {
            &::after {
                @include border-color($environment);
            }
            &::before {
                @include background-color($environment);
            }
        }
        &.fashion {
            &::after {
                @include border-color($fashion);
            }
            &::before {
                @include background-color($fashion);
            }
        }
        &.food {
            &::after {
                @include border-color($food);
            }
            &::before {
                @include background-color($food);
            }
        }
        &.gaming {
            &::after {
                @include border-color($gaming);
            }
            &::before {
                @include background-color($gaming);
            }
        }
        &.health {
            &::after {
                @include border-color($health);
            }
            &::before {
                @include background-color($health);
            }
        }
        &.journalism {
            &::after {
                @include border-color($journalism);
            }
            &::before {
                @include background-color($journalism);
            }
        }
        &.music {
            &::after {
                @include border-color($music);
            }
            &::before {
                @include background-color($music);
            }
        }
        &.photography {
            &::after {
                @include border-color($photography);
            }
            &::before {
                @include background-color($photography);
            }
        }
        &.sports {
            &::after {
                @include border-color($sports);
            }
            &::before {
                @include background-color($sports);
            }
        }
        &.technology {
            &::after {
                @include border-color($technology);
            }
            &::before {
                @include background-color($technology);
            }
        }
    }
}

.shark {
    &__row {
        height: 100%;
        box-sizing: border-box;
    }
    &__column {
        width: 50%;
        position: relative;
        padding: 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        &:first-child {
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background: $yellow;
            }
        }
    }
    &__meet-title {
        color: $yellow;
        font-family: $monserrat;
        font-weight: bold;
        font-size: 2.2em;
        line-height: .9em;
        margin-bottom: 10px;
    }
    &__meet-paragraph {
        font-family: $crimson;
        color: $last_grey;
        font-size: .9em;
        line-height: 1.3em;
    }
    &__meet-number {
        font-family: $monserrat;
        font-size: 8.5em;
        line-height: 1em;
        color: $yellow;
        text-align: center;
    }
    &__meet-word {
        font-family: $monserrat;
        font-size: 1.2em;
        line-height: 1em;
        color: $yellow;
        text-align: center;
    }
    &__content {
        position: relative;
        height: 100%;
        padding: 15px 0 0 15px;
        z-index: 1;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__name {
        color: $shark_name_color;
        font-family: $monserrat;
        font-weight: bold;
        line-height: .9em;
        font-size: 1.6em;
        letter-spacing: 1px;
    }
    &__description {
        position: absolute;
        bottom: -69px;
        transition: all .2s ease-in-out;
        @media all and (max-width: 480px) {
            bottom: -50px;
        }
        h3 {
            font-family: $monserrat;
            font-weight: 300;
            color: $shark_name_color;
            font-size: .8em;
            position: relative;
            padding-top: 8px;
            &::before {
                position: absolute;
                width: 25px;
                height: 1px;
                background: $shark_name_color;
                content: "";
                top: 0;
                left: 0;
            }
        }
        p {
            margin-top: 30px;
            font-family: $crimson;
            color: $shark_name_color;
            font-size: .9em;
        }
    }
}

.jaw {
    width: 95%;
    &__header {
        width: 46%;
    }
    &__big {
        color: $yellow;
        font-family: $monserrat;
        font-weight: 400;
        font-size: 1.4em;
        padding-bottom: 10px;
        border-bottom: solid 1px $yellow;
    }
    &__amount {
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 15px;
        .amount {
            font-weight: bold;
            font-size: 1.8em;
            font-family: $monserrat;
            color: $yellow;
        }
        .invested {
            font-family: $monserrat;
            font-weight: 400;
            text-transform: uppercase;
            color: #D6D7D8;
            @media all and (max-width: 480px) {
                margin-top: 10px;
            }
        }
    }
}