.shark__cover {
    width: 65%;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.cover__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: $monserrat;
    padding: 0 20px 15px;
    box-sizing: border-box;
}

.footer__amount {
    color: $yellow;
    .small {
        font-size: 1.5em;
        font-weight: 400;
    }
    .large {
        font-weight: bold;
        font-size: 6em;
        line-height: .9em;
        margin: 0 5px;
    }
}

.footer__followers {
    align-self: flex-end;
    .text__grey {
        font-weight: 100;
        font-size: .8em;
        letter-spacing: .5px;
    }
}

.cover__inverted {
    .inverted {
        color: #D6D7D8;
        font-size: .6em;
        text-align: center;
        font-weight: 200;
        letter-spacing: 1px;
    }
}

.shark__sidebar {
    width: 35%;
    background: #2D2D2D;
    box-sizing: border-box;
    padding: 20px;
    &--education {
        background: #58595B;
        flex: none;
        margin-right: 30px;
        margin-top: 15px;
        padding-bottom: 35px;
    }
    &--honors {
        background: inherit;
        flex: none;
    }
    .shark {
        &__name {
            font-family: $monserrat;
            color: #FFF;
            font-size: 1.8em;
            line-height: 1em;
        }
        &__category {
            list-style: none;
            li {
                margin-right: 5px;
                font-family: $monserrat;
                padding: 0 10px;
                position: relative;
                color: #808184;
                font-size: .7em;
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: #808184;
                }
                &:last-child {
                    &::before {
                        display: none;
                    }
                }
                &.audiovisual {
                    @include color($audiovisual);
                }
                &.design {
                    @include color($design);
                }
                &.environment {
                    @include color($environment);
                }
                &.fashion {
                    @include color($fashion);
                }
                &.food {
                    @include color($food);
                }
                &.gaming {
                    @include color($gaming);
                }
                &.health {
                    @include color($health);
                }
                &.journalism {
                    @include color($journalism);
                }
                &.music {
                    @include color($music);
                }
                &.photography {
                    @include color($photography);
                }
                &.sports {
                    @include color($sports);
                }
                &.technology {
                    @include color($technology);
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        &__ubication {
            font-family: $monserrat;
            color: #58595b;
            font-weight: 300;
            margin: 15px 0;
            font-size: .8em;
            i {
                margin-right: 5px;
                font-size: 1.4em;
            }
            &--by {
                font-family: $crimson;
                color: #b7b9ba;
                font-style: italic;
                font-size: .9em;
            }
            &--project {
                color: #595a5c;
            }
        }
        &__follow {
            border: solid 1px $yellow;
            background: transparent;
            color: $yellow;
            padding: 5px 10px;
            text-transform: uppercase;
            font-family: $monserrat;
            border-radius: 20px;
            outline: none;
            cursor: pointer;
            &:focus {
                background: $yellow;
                color: #FFF;
            }
            &--project {
                background: linear-gradient(to right, rgba(214, 94, 124, 1) 0%, rgba(242, 176, 142, 1) 100%);
                border: none;
                padding: 10px 20px;
                color: #2d2e2d;
                text-transform: initial;
                font-size: .8em;
                margin-top: 20px;
                margin-bottom: 70px;
                i {
                    margin-right: 5px;
                }
                &:focus {
                    background: linear-gradient(to right, rgba(214, 94, 124, 1) 0%, rgba(242, 176, 142, 1) 100%);
                    color: #2d2e2d;
                }
            }
        }
        &__ocupation {
            margin-top: 40px;
            font-family: $monserrat;
            font-weight: 300;
            color: #D6D7D8;
            font-size: 1em;
        }
        &__actions {
            justify-content: flex-end;
            margin-right: 15px;
            a {
                text-decoration: none;
            }
            .icon {
                width: 30px;
                height: 30px;
                border: solid 2px transparent;
                background-image: linear-gradient(#2D2D2D, #2D2D2D), radial-gradient(circle at top left, #5b5c5e, #cecfd1);
                background-origin: border-box;
                background-clip: content-box, border-box;
                border-radius: 50%;
                margin-right: 5px;
                i {
                    font-size: 1em;
                    line-height: 1em;
                    background: linear-gradient(135deg, #5b5c5e 0%, #cecfd1 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        &__paragraph {
            margin-top: 25px;
            h4 {
                font-size: 1.5em;
                font-weight: 100;
                font-family: $monserrat;
                color: #808184;
                margin: 10px 0 5px;
            }
            p {
                font-family: $crimson;
                color: #C7C9CA;
            }
        }
        &__title-education {
            font-family: $monserrat;
            font-size: 1em;
            color: #FFF;
            color: #fff;
            font-weight: 300;
            position: relative;
            padding-bottom: 10px;
            margin: 20px 0 20px;
            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 2px;
                background: $yellow;
                bottom: 0;
                left: 0;
            }
        }
        &__carrers {
            list-style: none;
            li {
                border-bottom: solid 1.3px #231F20;
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
        }
        &__university {
            font-family: $crimson;
            color: #DDDEDE;
            font-size: 1.1em;
            margin-bottom: 3px;
            font-weight: 100;
        }
        &__carrer,
        &__date {
            font-family: $monserrat;
            color: #DDDEDE;
            font-weight: 300;
            font-size: .8em;
        }
        &__date {
            text-align: right;
        }
    }
}

.shark__background {
    width: 100%;
    padding: 0 20px 0;
}

.shark__biography {
    margin-top: 30px;
    position: relative;
}

.shark__stories {
    width: 65%;
    position: relative;
    .grid__item--storie {
        width: 234px;
        height: 235px;
        .grid__cover {
            height: 100%;
        }
    }
    .stories {
        margin-bottom: 15px;
    }
}

.background {
    &__title {
        font-family: $monserrat;
        font-weight: bold;
        color: #BDBFC0;
        margin-bottom: 25px;
        font-size: 1.4em;
        i {
            font-size: .5em;
            margin-right: 10px;
            color: $yellow;
        }
        &--stories {
            margin-left: 50px;
        }
        &--honors {
            margin-bottom: 40px;
        }
    }
    &__list {
        list-style: none;
        margin-top: 10px;
        flex-wrap: wrap;
        align-items: flex-end;
        &--honors {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__item {
        width: calc(100%/3);
        border-bottom: solid 1px #231F20;
        border-bottom: 1px solid #231f20;
        padding: 25px 35px 30px 0;
        &--honor {
            width: 100%;
            border-bottom: none;
            position: relative;
            padding: 0 35px 30px 20px;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #A8AAAC;
                z-index: 5;
            }
            &::after {
                content: "";
                position: absolute;
                background: #231F20;
                top: 5px;
                left: 3px;
                width: 1px;
                height: 100%;
            }
            &:last-child {
                padding-bottom: 10px;
            }
        }
    }
    &__subtitle {
        font-family: $crimson;
        color: #FFF;
        font-weight: 100;
        margin-bottom: 15px;
        letter-spacing: 1px;
        font-size: 1.1em;
        &--honor {
            color: $yellow;
            font-family: $monserrat;
            font-weight: 100;
            font-size: .9em;
            margin-bottom: 10px;
        }
    }
    &__position {
        font-family: $monserrat;
        color: #A8AAAC;
        font-weight: 300;
        font-size: .9em;
        &--honor {
            width: 80%;
            margin-bottom: 12px;
        }
    }
    &__time {
        margin: 10px 0 7px;
        .start {
            font-family: $monserrat;
            font-weight: lighter;
            color: rgba(255, 255, 255, 0.70);
            font-size: .8em;
        }
        .divider {
            width: 55px;
            height: 1px;
            background: $yellow;
            align-self: flex-end;
        }
    }
    &__count {
        font-family: $monserrat;
        font-weight: lighter;
        color: #6D6E71;
        font-size: .8em;
    }
}

.sharks__grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 170px);
    margin: 60px 0 20px 0;
    .shark__item {
        &--shark--text {
            &::after,
            &::before {
                content: none;
            }
            .category__arrow {
                width: 30px;
                transform: rotate(-180deg);
            }
            .content {
                margin-left: 15px;
                padding-left: 15px;
                height: 80%;
                border-left: solid 1px $yellow;
                flex-direction: column;
            }
            .content__the-jaws {
                font-family: $monserrat;
                font-weight: bold;
                color: $yellow;
                letter-spacing: 1px;
                font-size: 2em;
                margin-bottom: 15px;
            }
            .content__paragraph {
                font-family: $monserrat;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.5);
                font-size: .8em;
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .background__time .divider {
        width: 30px;
    }
    .background__time .start {
        width: min-content;
        text-align: center;
    }
    .sharks__grid {
        grid-template-rows: repeat(3, 155px);
    }
}

@media all and (max-width: 1120px) {
    .shark__cover {
        width: 60%;
    }
    .shark__sidebar {
        width: 40%;
        .shark__ocupation {
            margin-top: 20px;
        }
    }
}

@media all and (max-width: 1068px) {
    .sharks__grid {
        grid-template-columns: repeat(3, 155px);
        grid-auto-rows: 155px;
    }
    .shark__item--empty {
        display: none;
    }
}

@media all and (max-width: 991px) {
    .background__item {
        width: 50%;
    }
    .shark__desc {
        flex-direction: column;
        .shark__name {
            text-align: center;
        }
    }
    .shark__sidebar .shark__category {
        margin-top: 20px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .sharks__grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 155px;
    }

    .shark__item--empty {
        display: block;
    }

    .shark__description {
        bottom: -65px;
        width: 80%;
    }
}

@media all and (max-width: 768px) {
    .shark__header {
        flex-direction: column;
        font-size: 1.2em;
    }
    .shark__biography {
        flex-direction: column;
        margin-top: 15px;
        &--honors {
            flex-direction: column;
        }
    }
    .background__list {
        flex-direction: row;
        li {
            &::before,
            &::after {
                content: none;
            }
        }
    }
    .shark__sidebar--honors {
        padding-left: 0;
        padding-right: 0;
    }
    .background__title {
        margin-bottom: 5px;
        &--stories {
            margin: 15px 0 30px 0;
        }
    }
    .shark__background {
        margin-top: 25px;
        padding: 0;
    }
    .shark__cover {
        width: 100%;
        height: auto;
    }
    .shark__sidebar {
        width: 100%;
        height: auto;
    }
    .shark__actions {
        margin: 0 !important;
    }
    .shark__stories {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .cover__footer {
        padding: 0 10px 15px;
        font-size: .8em;
    }
    .shark__stories .grid__item--storie {
        width: 100%;
    }
    .sharks__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 155px;
        font-size: 1.1em;
        margin-top: 0;
        .shark__item {
            &:nth-child(3) {
                grid-column-start: 2 span;
                grid-row-start: 1;
            }
        }
        .category__arrow {
            transform: rotate(90deg) !important;
        }
    }
}