.sidebar{
  &__be-part{
    min-height: 95vh;
    .cover{
      width: 100%;
    }
    .hero{
      top: 15%;
      left: 2em;
      &__title{
        font-size: 9em;
        line-height: 0.9em;
        color: $grey_six;
        opacity: 0.3;
      }
      &__subtitle{
        left: 3em;
      }
      &__paragraph{
        top: -2em;
        left: 4em;
      }
    }
    .features-content{
      top: 70%;
      right: 5em;
      width: 100%;
      height: 100%;
    }
    .feature{
      width: 40%;
      &__one{
        right: 0;
        .col{
          &-one{
            width: 50%;
          }
          &-two{
            width: 15em;
            height: 15em;
            background-color: $pink_one;
            right: 0;
            top: 0;
          }
        }
      }
      &__two{
        right: 0;
        top: 35%;
        .col{
          &-one{
            width: 50%;
            .img{
              top: 0;
              left: -8em;
              z-index: 0;
            }
          }
          &-two{
            right: 0;
            top: 2em;
            width: 50%;
          }
        }
      }
      &__three{
        right: 0;
        top: 70%;
        .col{
          &-one{
            width: 50%;
          }
          &-two{
            width: 15em;
            height: 15em;
            background-color: $grey_five;
            right: 0;
            top: 0;
            .triangle{
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 40px 40px 0;
              border-color: transparent $orange_two transparent transparent;
              .icon{
                position: relative;
                top: 5px;
                right: -20px;
                display: block;
              }
            }
          }
        }
      }
    }
    .line-horizontal{
      width: 30px;
      border-bottom: 1px solid $orange_two;
      height: 2px;
      display: block;
    }
    .black-space{
      min-height: 100vh;
    }
  }
  &__our-team{
    height: 98vh;
    width: 100%;
    background-image: url('../images/team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .content{
      .icon{
        font-size: 6em;
      }
      .line-horizontal{
        width: 60px;
        border-bottom: 1px solid white;
        height: 2px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  &__project{
    .title{
      border-left: 2px solid $grey_two;
      min-height: 6em;
    }
    .icon-circle{
      &--gray{
        border-color: $grey_five;
      }
    }
    &--state{
      .category-cloud{
        .item{
          font-family: $monserrat;
          color: $grey_five;
          text-decoration: none;
          font-size: 1.4em;
          font-weight: 300;
          padding:0.5em;
          display: inline-block;
          transition: all 0.2s ease-in;
          &:hover{
            text-decoration: underline;
          }
          &--audiovisual {
            &:hover {
              color: $audiovisual;
            }
          }
          &--design {
            &:hover {
              color: $design;
            }
          }
          &--environment {
            &:hover {
              color: $environment;
            }
          }
          &--fashion {
            &:hover {
              color: $fashion;
            }
          }
          &--food {
            &:hover {
              color: $food;
            }
          }
          &--gaming {
            &:hover {
              color: $gaming;
            }
          }
          &--health {
            &:hover {
              color: $health;
            }
          }
          &--journalism {
            &:hover {
              color: $journalism;
            }
          }
          &--music {
            &:hover {
              color: $music;
            }
          }
          &--photography {
            &:hover {
              color: $photography;
            }
          }
          &--sports {
            &:hover {
              color: $sports;
            }
          }
          &--technology {
            &:hover {
              color: $technology;
            }
          }
        }
      }
      .list__scroll{
        list-style: none;
        height: 8em;
        overflow-y: auto;
        .item{
          list-style: none;
          font-family: $monserrat;
          border-bottom: 1px solid $grey_two;
          width: 90%;
          padding: 0.5em 0;
          &__link{
            text-decoration: none;
            color: $grey_two;
            font-weight: 300;
            width: 100%;
            &:hover{
              color: $food;
            }
          }
        }
      }
      .btn__green--acid{
        font-size: 1em;
      }
    }
    &--landing{
      .horizontal-line__dark{
        display: block;
        width: 100%;
        border-bottom: 2px solid $grey_one;
        height: 3px;
      }
    }
  }
  &__chat{
    min-width: 450px;
    width: 450px;
    min-height: 100vh;
    position: fixed;
    right: 2em;
    .header{
      width: 100%;
    }
    .content{
      .chat_container{
        overflow-y: scroll;
        height: 90%;
        max-height: 90vh;
        &--buy{
          align-items: center;
          height: 90vh;
          .icon{
            position: absolute;
            z-index: 0;
            margin: 0 auto;
            color: $grey_two;
            display: block;
            left: 0;
            right: 0;
            top: 25px;
          }
          .form-control-buy{
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            background-clip: padding-box;
            border:none;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            outline: none;
            font-family: $monserrat;
            font-weight: 300;
            background-color: $grey_one;
            color: white;
            &::placeholder{
              color:$pink_one;
            }
          }
        }
      }
      .message{
        padding: 1em 0;
        &__receptor{
          .message__content{
            border-width: 0 0 0 2px;
            border-style: solid;
            border-image: linear-gradient(180deg,#ffb287,#e4688d) 1 100%;
            position: relative;
            &::after{
              content: ' ';
              position: absolute;
              width: 15px;
              height: 15px;
              right: auto;
              left: -9px;
              top: 43%;
              bottom: auto;
              background-color: $grey_four;
              border-top: 0 solid #ffb287;
              border-right: 0 solid #ffb287;
              border-left: 2px solid #ffb287;
              border-bottom: 2px solid #ffb287;
              transform: rotate(45deg);
            }
          }
        }
        &__sender{
          .message__content{
            border-width: 0 2px 0 0;
            border-style: solid;
            border-image: linear-gradient(180deg,#46c39f,#4176be) 1 100%;
            position: relative;
            &::after{
              content: ' ';
              position: absolute;
              width: 15px;
              height: 15px;
              left: auto;
              right: -9px;
              top: 43%;
              bottom: auto;
              background-color: $grey_four;
              border-top: 2px solid #46c39f;
              border-right: 2px solid #46c39f;
              border-left: 0 solid #46c39f;
              border-bottom: 0 solid #46c39f;
              transform: rotate(45deg);
            }
          }
        }
        &__content{
          width: 80%;
        }
        .user__picture{
          width: 20%;
          .profile{
            border-radius: 50%;
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    .foot{
      position: absolute;
      width: 100%;
      bottom: 0;
      .input{
        &__text{
          display: block;
          width: 85%;
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          background-clip: padding-box;
          border:none;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          outline: none;
          font-family: $monserrat;
          font-weight: 300;
          background-color: transparent;
          color: $grey_five;
          border-right: 1px solid $grey_five;
        }
        &__send{
          width: 10%;
        }
      }
    }
  }
  &__login{
    min-height: 100vh;
    position: relative;
    .contendor-icono{
      position: absolute;
      z-index: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 93vh;
      .icono{
        font-size: 20em;
        color: #e6e7e7;
        opacity: 0.05;
      }
    }
    .container__group{
      z-index: 10;
      min-height: 90vh;
      .row{
        height: 100%;
      }
    }
    .footlinks{
      position: absolute;
      width: 100%;
      bottom: 1em;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
    .input__login-control{
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1.2rem;
      line-height: 1.5;
      background-clip: padding-box;
      border:none;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.2);
      font-family: $crimson;
      text-align: center;
      color: white;
      outline: none;
      &::placeholder {
        color: #FFF;
      }
    }
    .input__login--singup{
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1.8rem;
      line-height: 1.5;
      background-clip: padding-box;
      border:none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      font-family: $crimson;
      text-align: center;
      color: white;
      outline: none;
      &::placeholder{
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .vertical-line{
      display: block;
      height: 5em;
      width: 2px;
      border-left: 1px solid $blue_two;
    }
    .form-file--upload{
      background-color: transparent;
      height: 5em;
    }
    .slider{
      &__controlers{
        position: absolute;
        top: 2em;
        width: 160px;
        margin: 1em auto;
        right: 0;
        left: 0;
        .items{
          display: block;
          width: 10px;
          height: 10px;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
        }
        .indice{
          display: block;
          width: 10px;
          height: 10px;
          background-color: white;
          border-radius: 10px;
          position: absolute;
        }
      }
      &__nav{
        .divi{
          border-left: 1px solid $grey_five;
        }
        .btn{
          padding: .5em 1.5em;
          font-family: $monserrat;
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1.1em;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.chat__icon{
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 30;
  bottom: 2em;
  right: 2em;
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.floaty {
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: opacity .2s ease-out;

  &.is-active{
    opacity: 1;
    .floaty-list{
      opacity: 1;
    }

  }
}
.floaty-list {
  margin: 0 0 20px;
  padding: 0 0 0 6px;
  list-style: none;
  opacity: 0;
  transition: opacity .2s ease-out;
}
.floaty:hover .floaty-list {
  opacity: 1;
}
.floaty-list-item {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 15px 0;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.floaty-list-item > img {
  border-radius: 50%;
}
.floaty-list-item--jaw {
  background: rgb(255,178,135); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,178,135,1) 0%, rgba(228,104,141,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,178,135,1) 0%,rgba(228,104,141,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,178,135,1) 0%,rgba(228,104,141,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb287', endColorstr='#e4688d',GradientType=1 ); /* IE6-9 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.floaty-list-item--jaw > svg {
  fill: #fff;
}
.floaty-list-item-label {
  position: absolute;
  top: 8px;
  right: 120%;
  padding: .5em 1.5em;
  font-size: 14px;
  color: #fff;
  background: #46c29e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #46c29e 0%, #4176bd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #46c29e 0%,#4176bd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #46c29e 0%,#4176bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c29e', endColorstr='#4176bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 2px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity .2s ease-out;
  border-radius: 20px;
  font-family: $monserrat;
}
.floaty-list-item:hover > .floaty-list-item-label {
  opacity: 1;
}
.floaty-btn {
  position: relative;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  background: #46c29e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #46c29e 0%, #4176bd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #46c29e 0%,#4176bd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #46c29e 0%,#4176bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c29e', endColorstr='#4176bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.floaty-btn:hover .floaty-btn-label {
  opacity: 1;
}
.floaty-btn-label {
  position: absolute;
  top: 14px;
  right: 115%;
  padding: .5em 1.5em;
  font-size: 14px;
  color: #fff;
  background: #46c29e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #46c29e 0%, #4176bd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #46c29e 0%,#4176bd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #46c29e 0%,#4176bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c29e', endColorstr='#4176bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity .2s ease-out;
  border-radius: 20px;
  font-family: $monserrat;
}
.floaty-btn-icon {
  transition: all .2s;
}
