.slider-container  {
    .swiper-container {
        width: 100%;
        height: 100%;
        background: rgba(128, 128, 128, 0.356);
    }
    .swiper-wrapper {
        height: 600px;
        @media all and (min-width: 1810px) {
            height: 860px;
            .slider__container {
                font-size: 1.1em;
            }
        }
        @media all and (max-width: 1200px) {
            height: 550px;
            .slider__container {
                font-size: .9em;
            }
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            .slider__container {
                font-size: .9em;
            }
        }
        @media all and (max-width:670px) {
            height: 420px;
            .slider__container {
                font-size: .8em;
            }
        }
        @media all and (max-width:500px) {
            height: 365px;
            .slider__container {
                font-size: .8em;
            }
        }
    }
    .swiper-button-prev {
        right: 50px !important;
        left: auto;
    }
    .swiper-button-next {
        right: 15px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 15px;
        height: 24px;
        bottom: 10px;
        top: auto;
        margin: 0;
        background-size: cover;
    }
    .swiper-slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider__container {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #FFF;
        font-size: 1em;
        @media all and (max-width: 320px) {
            font-size: .6em !important;
        }
    }
    .slider__icon {
        font-size: 2em !important;
        // margin-bottom: 
    }
    .slider__title {
        font-family: $raleway;
        font-weight: 700;
        font-size: 2.8em;
    }
    .slider__subtitle {
        font-family: $monserrat;
        font-weight: 300;
        font-size: 1.9em;
        line-height: 1em;
        position: relative;
        padding-bottom: 20px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 1.5px;
            background: white;
        }

        @media all and (max-width: 500px) {
            line-height: 1.3em;
        }
    }
    .slider__description {
        text-align: center;
        font-family: $crimson;
        width: 100%;
        font-size: 1.2em;
        margin-top: 20px;
        @media all and (max-width: 500px) {
            font-size: 1.4em;
            br {
                display: none;
            }
        }
    }
    .slider__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
    }
}